[Unit]
Description=Run Terraform Apply
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/terraform-apply.sh
WorkingDirectory=/home/kai/Terraform/
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
